<footer class = "footer">

  <div class = "footer-box">
  </div>
  <div class = "footer-bar">
    <%# @comments.each do |comment| %>
      <%# <li class="comments_list"> %>
        <%#= comment.text %>
        <%#= link_to @list.user.name, user_path(@list.user.id), class: :comment_user %>
      <%# </li> %>
    <%# end %>
  </div>

</footer>