<footer class = "footer">

  <div class = "footer-box" id = "footer-content" >
    <% @lists.each do |list| %>
      <div class = "footer-text" id = "footer-content" style = "display: none;">
        <%= list.title %>
      </div>
    <% end %>
  </div>
  <div class = "footer-bar">
    <%# @comments.each do |comment| %>
      <%# <li class="comments_list"> %>
        <%#= comment.text %>
        <%#= link_to @list.user.name, user_path(@list.user.id), class: :comment_user %>
      <%# </li> %>
    <%# end %>
  </div>

</footer>