* {
  box-sizing: border-box;
}
header,
footer {
  width: 100vw;
  height: 100px;
  display: flex;
  background-color: black;
}
.logo{
  font-size: 40px;
  color: white;
  text-decoration: none;
}
.header-box{
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.footer-box {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}
.header-bar{
  display: flex;
  width: calc(100% - 250px);
  position: relative;
  background-color: lightgrey;
}
.footer-bar {
  display: flex;
  width: calc(100% - 250px);
  position: relative;
  background-color: lightgrey;
}
.user-page{
  display: flex;
  align-items: center;
  padding: 30px;
  position: absolute;
  right: 0;
}

.sign-up,
.logout,
.login,
.my-page,
.new-post {
  text-decoration: none;
  padding-left: 30px;
  font-size: 20px;
  color: black;
}
