header,
footer {
  box-sizing: content-box;
  width: 100vw;
  height: 100px;
  display: flex;
  background-color: black;
}
header {
  animation: header 1s forwards;
}
@keyframes header {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.logo{
  font-size: 40px;
  color: white;
  text-decoration: none;
}
.header-box{
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.footer-box {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.header-bar{
  display: flex;
  width: calc(100% - 250px);
  position: relative;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  border-right: 3px solid black;
  background-image: linear-gradient(to right, #000000, #ffffff);
}
.footer-bar {
  display: flex;
  width: calc(100% - 250px);
  position: relative;
  background-image: linear-gradient(to right, #ffffff, #000000);
}
.user-page{
  display: flex;
  align-items: center;
  padding: 30px;
  position: absolute;
  right: 0;
}

.sign-up,
.logout,
.login,
.my-page,
.new-post {
  text-decoration: none;
  padding-left: 30px;
  font-size: 20px;
  color: black;
}
.footer-text {
  color: black;
}
.my-page:hover,
.new-post:hover,
.logout:hover,
.login:hover,
.sign-up:hover {
  color: red;
}
