.title-form,
.poster-form,
.date-form,
.text-form {  
  display: block;
  width: 500px;
  padding: 10px;
  margin-bottom: 30px;

  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.new-submit-btm {
  width: 500px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
