.title-form,
.poster-form,
.date-form,
.text-form {  
  display: block;
  width: 500px;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid black;
}

.new-submit-btm {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.image-form {
  margin-bottom: 25px;
}
