.search{
  height: 50px;
  width: 100%;
  display: flex;
}
.search-bar{
  height: 100%;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.bar{
  height: 100%;
  width: calc(100% - 250px);
  background-color: black;
}
