<%= render "template/header"%>
ユーザー詳細画面
<div class = "table-inner">
  <%# <table class = "table"> %>
    <%# <tbody>
        <tr>
          <th class = "table-1">名前</th> %>
          <%# <td class = "table-2"><%= @nickname</td> %>
        <%# </tr>
      </div>
        <tr> %>
          <%# <th class = "table-1">名前</th> %>
          <%# <td class = "table-2"><%= @nickname</td> %>
        <%# </tr>
    </tbody> %>
  <%# </table> %>
  <div class = "table">
</div>
