.field {
  padding-bottom: 30px;
}
.actions{
  padding-top: 30px;
}
.sign-title {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 50px;
}

.nickname-field,
.email-field,
.password-field,
.login-submit,
.sign-up-submit {
  display: block;
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

/* main - header */
.form-inner {
  height: calc(100vh - 183px);
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.login-submit,
.sign-up-submit {
  cursor: pointer;
  width: 100%;
}
